.c-social {
  display: block;
  width: 30px;
  height: 30px;
}

@media (--pc) {
  .c-social { transition: transform .2s; }
  .c-social:hover { transform: scale(.8, .8); }
}

@media (--mobile) {
  .c-social.is-touch { transform: scale(.8, .8); }
}
