.p-home { padding: 4rem; }
.p-home__list {
  margin: -2rem;
  font-size: 0;
  text-align: center;
}
.p-home__item {
  display: inline-block;
  width: 340px;
  padding: 2rem;
  vertical-align: middle;
}

@media (--mobile) {
  .p-home__header { display: none; }
  .p-home { padding: 2rem; }
  .p-home__list { margin: 0; }
  .p-home__item {
    width: 100%;
    padding: 0;
  }
  .p-home__list > .p-home__item:not(:first-child) { margin-top: 2rem; }
}
