.p-single {
  max-width: 860px;
  margin: 0 auto;
  padding: 6rem 2rem;
  color: var(--color-white);
}
.p-single__head { margin-bottom: 10rem; }
.p-single__head__date {
  margin-bottom: 1.4rem;
  font-size: 1.2rem;
}
.p-single__head__title {
  margin-bottom: 1.4rem;
  font-size: 2.8rem;
  line-height: 1.4;
}
.p-single__share { padding: 14rem 0 8rem; }

@media (--mobile) {
  .p-single { padding: 4rem 1rem; }
  .p-single__head { margin-bottom: 4rem; }
  .p-single__head__title { font-size: 2.4rem; }
  .p-single__share { padding: 10rem 0 4rem; }
}
